<div id="cart">
  <h3 class="title">Cart details for <strong><%= current_user.email %></strong></h3>
  <br/>
  <table>
    <thead>
      <td>&nbsp;</td>
      <td>Product name</td>
      <td>Description</td>
      <td>Price</td>
      <td>Action</td>
    </thead>
    <%- @user_cart.products.each do |product| %>
      <tr>
        <td> <%= image_tag product.photo.url(:mini) %> </td>
        <td> <%= product.name %> </td>
        <td> <%= product.description %> </td>
        <td> <%= product.current_price %> </td>
        <td> <%= link_to "Remove", cart_path(product), method: :delete %> </td>
      </tr>
    <% end-%>
    <tfoot>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Total</td>
      <td> <%= @user_cart.total_price %> </td>
      <td>&nbsp;</td>
    </tfoot>
  </table>
</div>