<%= form_for [:admin, @admin_category] do |f| %>

  <% if @admin_category.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
      <% @admin_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :color %>
  <%= f.text_field :color %>
  
  <div class="actions">
    <%= f.submit(class: "btn btn-primary") %>
  </div>
<% end %>
