<%= simple_form_for [:admin, @admin_product], :html => {:class => 'form-horizontal' } do |f| %>
  <% if @admin_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_product.errors.count, "error") %> prohibited this admin_product from being saved:</h2>

      <ul>
      <% @admin_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :qty %>
  <%= f.input :price %>
  <%= f.input :on_sale %>
  <%= f.input :sale_price %>
  <%= f.button :submit %>
<% end %>
