<h3>Listing admin_products</h3>

<br/>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Qty</th>
    <th>Price</th>
    <th>On sale</th>
    <th>Sale price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_products.each do |admin_product| %>
  <tr>
    <td><%= admin_product.name %></td>
    <td><%= admin_product.description %></td>
    <td><%= admin_product.qty %></td>
    <td><%= admin_product.price %></td>
    <td><%= admin_product.on_sale %></td>
    <td><%= admin_product.sale_price %></td>
    <td><%= link_to 'Show', admin_product %></td>
    <td><%= link_to 'Edit', edit_admin_product_path(admin_product) %></td>
    <td><%= link_to 'Destroy', admin_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_admin_product_path %>
