<h3>Listing users</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= image_tag admin_user.photo.url(:mini) %></td>
        <td><%= admin_user.full_name %></td>
        <td><%= admin_user.email %></td>
        <td>
          <%= link_to 'Show', admin_user_path(admin_user), class: "btn btn-info" %>
          <%= link_to 'Edit', edit_admin_user_path(admin_user), class: "btn btn-primary" %>
          <%= link_to 'Destroy', admin_user_path(admin_user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New User', new_admin_user_path, class: "btn" %>
