
<div id="featured-products">

  <h3 class="featured-products-title"><%= @category_name %> Products in stock</h3>

  <%= paginate @products %><br/>
  
  <ul class="featured-product">
    <% @products.each do |product| %>
      <li>
          <span class="product-image-wrapper">
            <img class="product-image" src="/assets/rails.png" alt="<%= product.name %>" />
          </span>
          Name: <span class="product-name"><em><%= product.name %></em></span>
          Desc: <span class="product-name"><em><%= truncate(product.description, length: 50, omission: "...") %></em></span>
          Qty: <span class="product-name"><em><%= product.qty %></em></span>
          <%= link_to "SEE MORE DETAILS", product_path(product), class: "small button details" %>
          <br/>
      </li>
    <% end %>
  </ul>

</div>