<h3>Product details for <%= @product.name %></h3>

<br/>

<p>
  <%= image_tag @product.photo.url %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Qty:</b>
  <%= @product.qty %>
</p>

<p>
  <b>On sale:</b>
  <%= @product.on_sale %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency @product.current_price %>
</p>

<ul class="toolbar-checkout">
  <li style="float:left;"><%= link_to 'Add to Cart', cart_append_item_path(current_user.cart, product:@product), method: :post, class: "large button secondary" %></li>
  <li ><%= link_to 'Back', products_path, class: "large button secondary" %></li>
</ul>