<h3>Product details for <%= @product.name %></h3>

<br/>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Qty:</b>
  <%= @product.qty %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>On sale:</b>
  <%= @product.on_sale %>
</p>

<p>
  <b>Sale price:</b>
  <%= @product.sale_price %>
</p>

<ul class="toolbar-checkout">
  <li style="float:left;"><%= link_to 'Add to Cart', root_path, class: "large button secondary" %></li>
  <li ><%= link_to 'Back', products_path, class: "large button secondary" %></li>
</ul>
